.dockerignore

.git
!.git/HEAD
!.git/refs

/_build/
/deps/
/cover/
/doc/
/test/
/tmp/
/.elixir_ls/
*.log
*.ez
erl_crash.dump

.env
.env.*

/assets/node_modules/
/priv/static/assets/
/priv/static/cache_manifest.json
